
*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}   
.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12%;
    
}
.navegation{
    display: none;
    
}
.imagenes3{
    width: 90%;
    display: block;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    color: rgb(35, 44, 81);
}
p{
    color: rgb(143, 148, 167);
}
.primerParrafo{
    line-height: 25px;
    text-align: justify;
}
.boton{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(242, 95, 58);
    padding: 4%;
    border-radius: 40px;
    width: 40%;
    border: none;
    margin-bottom: 30%;
    color: rgb(249, 249, 249);
}
/* ----------SECTION 2------------- */
.section2 p{
    margin-bottom: 20%;
}
/* -------SECTION 3----- */
.section3{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}
/** ARTICULO 1 **/
.articulo1 div{
    background-color: rgb(242, 95, 58);
    width: 15%;
    position: relative;
    display: inline-block;
    
    border-radius: 50px;
    color: rgb(249, 249, 249);
    padding: 1.5%;
    z-index: 5;
    margin-right: 0%;
}
.articulo1 p{
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10%;
}
.articulo1 h3{
    display: inline;
    position: relative;
    bottom: 10%;
    left: -2%;
    font-size: 15px;
    padding: 1% 2%;
    margin-left: 0%;
    text-align: center;
    background-color: rgb(255, 239, 234);
}
/** ARTICULO 2 **/
.articulo2 div{
    background-color: rgb(242, 95, 58);
    width: 15%;
    position: relative;
    display: inline-block;
    margin-right: 0%;
    border-radius: 50px;
    color: rgb(249, 249, 249);
    padding: 1.5%;
    z-index: 5;
}
.articulo2 h3{
    display: inline;
    position: relative;
    left: -5%;
    bottom: 10%;
    padding: 1% 12% 1% 6%;
    margin-left: 0%;
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 239, 234);
}
.articulo2 p{
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10%;
}
/** ARTICULO 3 **/
.articulo3 div{
    background-color: rgb(242, 95, 58);
    width: 15%;
    position: relative;
    display: inline-block;
    left: -1%;
    border-radius: 50px;
    color: rgb(249, 249, 249);
    padding: 1.5%;
    margin-right: 0%;
    z-index: 5;
}
.articulo3 h3{
    display: inline;
    position: relative;
    bottom: 10%;
    left: -4%;
    padding: 1% 2% 1% 3%;
    margin-left: 0%;
    text-align: end;
    font-size: 14px;
    background-color: rgb(255, 239, 234);
}
.articulo3 p{
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 15%;
}
/** ----SECTION 4------- **/
.section4 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section4 h2{
    font-weight: bold;
    margin-bottom: 25%;
}
.section4 p{
    text-align: center;
    line-height: 25px;
    margin-bottom: 15%;
}
.boton2{
    margin-top: 20%;
    margin-bottom: 30%;
    border: none;
    padding: 4% 8%;
    background-color: rgb(242, 95, 58);
    border-radius: 50px;
    color: rgb(255, 239, 234);
    box-shadow: 0px 6px 15px rgb(242, 95, 58);
}
/* -------SECTION 5------- */
.section5{
    background-color: rgb(242, 95, 58);   
    padding: 30% 10%;
    width: 100vw;
    margin: 0%;
    max-width: max-content;
}
.section5 h2{
    color: rgb(255, 239, 234);
    text-align: center;
}
.boton3{
    border: none;
    padding: 5% 12%;
    background-color: rgb(255, 239, 234);
    border-radius: 50px;
    color: rgb(242, 95, 58);

}
footer{
    padding: 0%;
    margin: 0px;
    background-color: rgb(35, 44, 81);
    width: 375px;
    height: 80vh
}
.footerSection{
    width: 100%;
    position: relative;
}
.FC{
    color: rgb(255, 239, 234); 
    list-style: none;
    display: inline;
    position: absolute;
    left: 5%;
    line-height: 30px;
    text-align: start;
    
}
.SC{
    color: rgb(255, 239, 234);
    list-style: none;
    position: absolute;
    display: inline;
    text-align: center;
    left: 40%;
    line-height: 30px;

}
.iconos{
    color: rgb(255, 239, 234);
    position: relative;
    display: inline;
    margin: auto;
    z-index: 10;
    font-size: 180%;
    top: 50%;
}
footer a{
    text-decoration: none;
    font-style: none;
    color: rgb(255, 239, 234);
}

footer p{
    position: relative;
    top: 30%;
}

@media(min-width: 376px) {
    .ham{
        display: none;
    }
    .navegation{
        flex-direction: row;
        display: flex ;
        text-decoration: none;
        list-style: none;
        text-align: center;
        justify-content: space-around;
        

    }
    .boton0{
        display: inline;
        position: relative;
        right: -35%;
        top: -10%;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(242, 95, 58);
        padding: 1% 1% ;
        border-radius: 40px;
        border: none;
        color: rgb(249, 249, 249);
    }
    .div-2{
        position: relative;
        width: 45%;
        
    }
    .div1 h2{
        position: relative;
        top: -50%;
    }
    .section1{
        position: relative;
        display: flex;
        flex-direction: row-reverse;

    }
    .imagenes3{
        width: 50%;
        position: relative;
        display: inline-block;
        margin-top: 12%;
        
    }
    
}